._Time{
  width: 100%;
  white-space: nowrap;

  .timeName{
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 20px;
    // border: 1px solid #999;
    background: palegoldenrod;
  }

  .active{
    background: rebeccapurple;
  }
}
